<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body style="background: rgba(0,255,174,0.22)">
<div class="container">
    <div class="container" style="margin-top: 15px">
            <label>
                <input id="i-text" type="text" name="text" placeholder="Введите текст"  />
            </label>
            <label>
                <input id="i-tag" type="text" name="tag" placeholder="Тэг" />
            </label>
            <button onclick="add(document.getElementById('i-text').value, document.getElementById('i-tag').value)">Добавить</button>
    </div>
    <div>Список</div>
    {{#claims}}
    <div onclick="update('{{id}}', document.getElementById('i-text').value, document.getElementById('i-tag').value)" class="container">
        <div class="row" style="margin-bottom: 20px">
            <b class="col">{{id}}</b>
            <span class="col">{{text}}</span>
            <i class="col">{{tag}}</i>
            <button onclick="del('{{id}}')">Удалить</button>
        </div>
    </div>
    {{/claims}}
</div>
    <script>
        function update(id, text, tag) {
            if (text !== '' && tag !== '') {
                const xhr = new XMLHttpRequest();
                var json = JSON.stringify({
                    id: id,
                    text: text,
                    tag: tag
                });
                xhr.open('PUT', '/claim/' + id, false);
                xhr.body = json;
                xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                xhr.send(json);
                if (xhr.status === 200) {
                    window.location.reload()
                }
            }
        }

        function del(id) {
            const xhr = new XMLHttpRequest();
            const json = JSON.stringify({
                id: id
            });
            xhr.open('DELETE', '/claim/' + id, false);
            xhr.body = json;
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhr.send(json);
            if (xhr.status === 200) {
                window.location.reload()
            }
        }

        function add(text, tag) {
            if (text !== '' && tag !== '') {
                const xhr = new XMLHttpRequest();
                var json = JSON.stringify({
                    text: text,
                    tag: tag
                });
                xhr.open('POST', '/claim', false);
                xhr.body = json;
                xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                xhr.send(json);
                if (xhr.status === 200) {
                    window.location.reload()
                }
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
